@media (max-width: 1150px){
    .grid-conteiner .header-section h1{
        font-size: 1.6rem;
        width: 315px;
    }

    .grid-conteiner .header-section h2{
        font-size: 1.6rem;
        width: 315px;
        margin-bottom: 4%;
    }
    .grid-conteiner .header-section p{
        width: 315px;
    }
    .grid-conteiner .card-conteiner{
        display: flex;
        flex-direction: column;
    }

    .grid-conteiner .card-conteiner .card-styles {
        width: 315px;
    }
}